<div class="email">
  <h3 style="text-align:center; color: cornflowerblue">Send email</h3>
  <%= mail_to 'irvin1442@gmail.com' do %>
    <p style="text-description:none;">
      irvin1442@gmail.com
    </p>
  <% end %>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, doloremque quaerat. Architecto, doloribus ea
    magnam obcaecati odio sunt suscipit tempora ut! Consequatur cum debitis eum expedita nulla quisquam, sequi velit?
  </div>
  <div>Dignissimos esse ipsa officia omnis perspiciatis recusandae sequi? Delectus dolorem doloribus maxime mollitia non
    numquam obcaecati odio praesentium? Adipisci aliquam dicta esse exercitationem fugiat nisi odio officiis quasi
    repellendus, ut.
  </div>
  <div>Architecto aspernatur aut autem consequatur dicta dolore dolorum ea enim excepturi fugiat id in minus modi nisi,
    nulla officiis porro quidem quisquam similique suscipit totam vel veniam veritatis vitae voluptatum!
  </div>
  <div>Adipisci aspernatur at beatae corporis cum distinctio dolorum exercitationem facilis ipsum iusto laborum minima
    nam nihil non nostrum officiis possimus, provident quos ratione repellat sapiente sint sit soluta ut veniam.
  </div>
  <div>A aliquam aliquid blanditiis consequuntur deleniti dolore eaque, expedita hic neque nisi, nulla pariatur
    perferendis perspiciatis repellendus rerum sequi ut vel voluptatem. Doloremque eligendi et quam quis reiciendis.
    Eum, rerum?
  </div>
  <div>Aliquam consectetur, consequuntur deleniti, facilis id modi numquam obcaecati perspiciatis possimus quaerat quas
    qui sed voluptas. Consectetur, culpa deserunt ea eligendi expedita explicabo fugit maiores minus ratione
    reprehenderit tempora tempore?
  </div>
  <div>Esse ex fugiat quis quo, rerum vel. Accusantium amet architecto at aut consectetur, corporis dolorem doloremque
    expedita harum impedit laborum laudantium nemo non placeat qui quos reiciendis sed tempora voluptatem.
  </div>
  <div>Aliquid blanditiis est eum expedita fuga minima molestias neque praesentium quaerat quibusdam reiciendis, unde
    ut? Aliquam amet commodi dolorum eum exercitationem in, nesciunt nihil perspiciatis tempora. Dolore earum,
    voluptates! Corporis.
  </div>
  <div>Ab porro sed soluta voluptate. Dicta earum impedit, incidunt inventore ipsa molestiae non possimus sed tempore.
    Commodi deleniti dicta esse, excepturi fuga hic ipsam iure laudantium perferendis quis rem velit.
  </div>
  <div>Aliquid fugiat hic quibusdam rem sequi similique sunt veritatis voluptatem? A facere magnam non numquam possimus
    quas totam. Doloribus ipsum labore laborum laudantium porro quia sapiente, sit tempora? Animi, harum.
  </div>
</div>
