<%# @items.each do |item| %>
<!--  <ul>-->
<!--    <li><b>ID: </b> <%#= item.id %></li>-->
<!--    <li><b>NAME: </b><%#= item.name %></li>-->
<!--    <li><b>PRICE: </b><%#= item.amount %></li>-->
<!--    <li><b>CHARACTERISTICS:</b> <%#= item.description %></li>-->
<!--  </ul>-->
<%# end %>